<!doctype html>
<html>
  <h1>What kind of festivals would you like to see?</h1>
    <div>
      <form name="Festival type" action="festivals.html" method='POST'>
        <select name="Category">
          <option value="0">Fringe</option>
          <option value="1">Demofringe</option>
          <option value="2">Jazz</option>
          <option value="3">Book</option>
          <option value="4">International</option>
          <option value="5">Tattoo</option>
          <option value="6">Art</option>
          <option value="7">Hogmanay</option>
          <option value="8">Science</option>
          <option value="9">Imaginate</option>
          <option value="10">Film</option>
          <option value="11">Mela</option>
          <option value="12">Storytelling</option>
        </select>
        <button type="submit">Go</button>
      </form>
    </div>
</html>
